:root {
    --main-grey-color: #555555;
    --main-light-grey-color: #8a8a8a;
    --main-white-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100dvh;
    display: flex;
}

.dropdown {
    position: relative;
    max-width: 200px;
}

.dropdown .dropdown-btn {
    border: none;
    background-color: var(--main-light-grey-color);
    color: var(--main-white-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    transition: background-color 0.3s;
    cursor: pointer;
    width: 100%;
}

.dropdown .dropdown-btn:hover {
    background-color: var(--main-grey-color);
}

.dropdown .dropdown-btn .dropdown-btn__svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown .dropdown-menu {
    list-style: none;
    margin: 0;
    position: absolute;
    border-radius: 4px;
    top: 46px;
    left: 4px;
    background-color: var(--main-white-color);
    transition: max-height 0.3s;
    overflow: hidden;
    z-index: 10;
}

.dropdown .dropdown-menu li {
    padding: 4px 0;
    cursor: pointer;
}

.dropdown .dropdown-menu li:hover {
    text-decoration: underline;
}

.d-none {
    max-height: 0;
    padding: 0 10px;
    border: 1px solid var(--main-grey-color);
}

.removing {
    padding: 0;
    border: none;
}

.d-block {
    max-height: 300px;
    padding: 0 10px;
    border: 1px solid var(--main-grey-color);
}